<form  #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text"  #fullName="ngModel" [(ngModel)]="userServices.selectedUser.fullName" name="fullName" placeholder="Full Name"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
     <div *ngIf="signUpForm.submitted && !fullName.valid">
        <label class="validation-message">This Field is required.</label>
    </div> 

    <input type="text" #email="ngModel" [(ngModel)]="userServices.selectedUser.email" name="email" placeholder="E-Mail"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors?.required" class="validation-message">This Field is required.</label>
        <label *ngIf="email.errors?.pattern" class="validation-message">Invalid Email Address.</label>
    </div>

    <input type="password" #password="ngModel" [(ngModel)]="userServices.selectedUser.password" name="password" placeholder="Password"
    minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This Field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Minimum 4 Character should be must.</label>
    </div>

    <input type="submit" value="Sign Up">
</form> 

<div class="success" *ngIf="showSuccessMessage">Saved Successfully</div>

<div class="success" *ngIf="serverErrorMessage"> {{ serverErrorMessage }} </div>